lib/
bin/
logs/
*.class
.classpath
src/rs/ac/bg/etf/pp1/ast/*
spec/mjparser_astbuild.cup
src/rs/ac/bg/etf/pp1/Yylex.java~
src/rs/ac/bg/etf/pp1/Yylex.java
src/rs/ac/bg/etf/pp1/sym.java 
src/rs/ac/bg/etf/pp1/MJParser.java
